@import "~bootstrap-less/bootstrap/bootstrap.less";
@none: none;
@suggestion-border: 1px solid rgba(0, 0, 0, 0.125);
@list-width: 95%;
@error-color: red;

.pagination-container {
  display: inline-block;
  color: black;
}

.article-list__li {
  list-style: @none;
}

.paragraph-list__li {
  list-style: @none;
  width: 95%;
}

.suggestion-list__li {
  list-style: @none;
  width: 95%;
}

.suggestion-list__ul {
  width: @list-width;
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 10px;
  border: @suggestion-border;
}

.suggestion-error {
  color: @error-color;
}

.add-suggestion-section {
  width: @list-width;
}

.paragraph-section {
  margin-top: 5px;
}

.decline-button {
  color: @error-color;
}